<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card p-4">
        <div class="card-header">
          <h5 class="title"><i class="fa fa-address-card" aria-hidden="true"></i> Pesquisar </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user"></div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card p-4">
        <div class="card-header">
          <h5 class="title"><i class="fa fa-user-circle" aria-hidden="true"></i> Resultado da Pesquisa </h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user"></div>
    </div>
  </div>
</div>
